.jumbotron
	.container
		h1 My shop site..!
		p Follow all steps suggested by the wizard. Please pay special attention to the corresponding installation options.

		.row
			.col-md-6
				div(ng-include="'/partials/main/featured-courses'")
			.col-md-6
				div(ng-include="'/partials/main/new-courses'")